Getting the right data source and performing basic analytical skills

In [ ]:
#Importing relevant libraries
#Viewing/Reading the dataset
#Creating a function to contain the dataset

import pandas as pd
netflix_data = pd.read_csv('/content/NetflixViewingHistory.csv')
netflix_data
netflix_data.head(10)

                                               Title       Date
0         Russian Doll: Season 2: Station to Station   5/4/2022
1                Russian Doll: Season 2: Brain Drain   5/3/2022
2          Russian Doll: Season 2: Coney Island Baby  4/26/2022
3                     Russian Doll: Season 2: Nowhen  4/26/2022
4  Eternally Confused and Eager for Love: Season ...  4/10/2022
5  Eternally Confused and Eager for Love: Season ...   4/5/2022
6  Eternally Confused and Eager for Love: Season ...   4/5/2022
7  Eternally Confused and Eager for Love: Season ...   4/5/2022
8    Bridgerton: Season 2: The Viscount Who Loved Me   4/4/2022
9                      Bridgerton: Season 2: Harmony   4/3/2022

In [ ]:
#Getting the basic 'info()' of our data
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1972 entries, 0 to 1971
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   1972 non-null   object
 1   Date    1972 non-null   object
dtypes: object(2)
memory usage: 30.9+ KB

In [ ]:
#the describe() function to tell us a bit of our data
netflix_data.describe()

                                             Title       Date
count                                         1972       1972
unique                                        1972        658
top     Russian Doll: Season 2: Station to Station  4/25/2019
freq                                             1         17

Preprocessing the data set thus cleaning, surveying inconsistencies and errors in the dataset, knowing varoius information about our data

In [ ]:
#Knowing enterires of rows and columns of our dataset
netflix_data.shape

(1972, 2)

In [ ]:
#Knowing only rows in our dataset
len(netflix_data)

1972

In [ ]:
#Knowing only columns in our dataset
netflix_data.shape[1]

2

In [ ]:
#Knowing the names of the various columns of your dataset
netflix_data.columns

Index(['Title', 'Date'], dtype='object')

In [ ]:
#Knowing separate columns of our dataset
netflix_data.columns[0]

'Title'

In [ ]:
#Knowing separate columns our dataset
netflix_data.columns[1]

'Date'

In [ ]:
#Knowing missing values and where in the data these missing values are located
netflix_data.isna().sum()

Title    0
Date     0
dtype: int64

In [ ]:
#Checking for duplicates in our dataset

netflix_data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1967    False
1968    False
1969    False
1970    False
1971    False
Length: 1972, dtype: bool

#Performing Exploratory Data Analysis (EDA)
 - Finding how many times these specific shows have been watched
 1. Grey's Anatomy
 2. Friends
 3. New Girl
 4. Dynasty
 5. Lady Bird

In [ ]:
#How many times was an episode of 'Grey's Anatomy' watched according to the data
netflix_data["Title"].apply(lambda t: "Grey's Anatomy" in t).sum()

67

In [ ]:
#How many times was an episode of 'Friends' watched according to the data
netflix_data["Title"].apply(lambda t: "Friends" in t).sum()

44

In [ ]:
#How many times was an episode of 'New Girl' watched according to the data
netflix_data["Title"].apply(lambda t: "New Girl" in t).sum()

30

In [ ]:
#How many times was an episode of 'Dynasty' watched according to the data
netflix_data["Title"].apply(lambda t: "Dynasty" in t).sum()

51

In [ ]:
#How many times was an episode of 'Lady Bird' watched according to the data
netflix_data["Title"].apply(lambda t: "Lady Bird" in t).sum()

1

Getting to know more about the data we have at hand

In [ ]:
#Knowing the starting date for watching 'The Good Place' according to the data
d = netflix_data.loc[["The Good Place" in title for title in netflix_data ["Title"]], :]
d

                                                  Title        Date
430   The Good Place: Season 4: A Girl From Arizona ...  11/25/2020
431   The Good Place: Season 4: A Girl From Arizona ...  11/25/2020
454               The Good Place: Season 3: Pandemonium   11/5/2020
455   The Good Place: Season 3: Chidi Sees the Time-...   11/5/2020
456         The Good Place: Season 3: The Book of Dougs   11/5/2020
457                  The Good Place: Season 3: Janet(s)   11/5/2020
458   The Good Place: Season 3: Don't Let the Good L...   11/5/2020
459   The Good Place: Season 3: The Worst Possible U...   11/2/2020
460   The Good Place: Season 3: A Fractured Inheritance   11/2/2020
461   The Good Place: Season 3: The Ballad of Donkey...   11/2/2020
462            The Good Place: Season 3: Jeremy Bearimy   11/2/2020
474              The Good Place: Season 3: The Snowplow  10/18/2020
475          The Good Place: Season 3: The Brainy Bunch  10/18/2020
476      The Good Place: Season 3: Everything is Bonzer  10/18/2020
477            The Good Place: Season 2: Somewhere Else  10/18/2020
479               The Good Place: Season 2: The Burrito  10/16/2020
480   The Good Place: Season 2: Rhonda, Diana, Jake,...  10/16/2020
481                 The Good Place: Season 2: Best Self  10/16/2020
483             The Good Place: Season 2: Leap to Faith  10/16/2020
485                     The Good Place: Season 2: Derek  10/14/2020
486         The Good Place: Season 2: Janet and Michael  10/14/2020
487       The Good Place: Season 2: The Trolley Problem  10/13/2020
488        The Good Place: Season 2: Existential Crisis  10/13/2020
489            The Good Place: Season 2: Team Cockroach  10/13/2020
490    The Good Place: Season 2: Dance Dance Resolution  10/13/2020
1629     The Good Place: Season 2: Everything Is Great!   8/30/2018
1792         The Good Place: Season 1: Michael's Gambit  12/30/2017
1793         The Good Place: Season 1: Mindy St. Claire  12/30/2017
1794     The Good Place: Season 1: What's My Motivation  12/30/2017
1797           The Good Place: Season 1: Chidi's Choice  12/28/2017
1798  The Good Place: Season 1: ...Someone Like Me a...  12/28/2017
1799     The Good Place: Season 1: Most Improved Player  12/28/2017
1800       The Good Place: Season 1: The Eternal Shriek  12/28/2017
1801  The Good Place: Season 1: What We Owe to Each ...  12/28/2017
1802  The Good Place: Season 1: Category 55 Emergenc...  12/28/2017
1803            The Good Place: Season 1: Jason Mendoza  12/27/2017
1804          The Good Place: Season 1: Tahani Al-Jamil  12/27/2017
1805                   The Good Place: Season 1: Flying  12/27/2017
1806       The Good Place: Season 1: Everything Is Fine  12/27/2017

In [ ]:
#Getting the starting date for watchinmg the show 'The Good Place'
d["Date"].min()

'10/13/2020'

In [ ]:
#Getting the first episode of the show 'The Good Place' watched according to the data
d.sort_values("Date", ascending=False)["Title"].iloc[-1]

'The Good Place: Season 2: Existential Crisis'

In [ ]:
#Getting the last date of watching the show 'The Good Place'
d["Date"].max()

'8/30/2018'

In [ ]:
#Getting the title of the last episode of 'The Good Place' watched according to the data
#Using the .iloc[0] approach
d.sort_values("Date", ascending=False)["Title"].iloc[0]

'The Good Place: Season 2: Everything Is Great!'

In [ ]:
#Getting the title of the last episode of 'The Good Place' watched according to the data
#Using the .iloc[-1] approach
d.sort_values("Date", ascending=True)["Title"].iloc[-1]

'The Good Place: Season 2: Everything Is Great!'

In [ ]:
#Knowing the starting date for watching 'Russian Doll' according to the data
b = netflix_data.loc[["Russian Doll" in title for title in netflix_data ["Title"]], :]
b

                                                  Title       Date
0            Russian Doll: Season 2: Station to Station   5/4/2022
1                   Russian Doll: Season 2: Brain Drain   5/3/2022
2             Russian Doll: Season 2: Coney Island Baby  4/26/2022
3                        Russian Doll: Season 2: Nowhen  4/26/2022
514                     Russian Doll: Season 1: Ariadne  7/28/2020
515                 Russian Doll: Season 1: The Way Out  7/28/2020
1391  Russian Doll: Season 1: Nothing in This World ...   2/3/2019

In [ ]:
#Getting the first episode of the show 'Russain Doll' watched according to the data
b.sort_values("Date", ascending=False)["Title"].iloc[-1]

'Russian Doll: Season 1: Nothing in This World Is Easy'

In [ ]:
#Getting the title of the last episode of 'Russian Doll' watched according to the data
#Using the .iloc[0] approach
b.sort_values("Date", ascending=False)["Title"].iloc[0]

'Russian Doll: Season 1: Ariadne'

The dataset analysed gives insight into those various information as searching for missing values, duplicates, how many times various shows were watched and how to get the names of those shows. From the analysis, we could deduce the total number of row enteries and column enteries of our data.
Finally, we could tell  which seasons were watched on specific days as we perform basic analytical skills on our data.